[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vdf = "*"
humanize = "*"
psutil = "*"

[dev-packages]
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
setuptools = "*"

[requires]
python_version = "3.8"
