[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
vdf = "*"
psutil = "*"
humanize = "*"
steam-vdf = {file = ".", editable = true}

[requires]
python_version = "3"

[dev-packages]
black = "*"
build = "*"
isort = "*"
pip-tools = "*"
pytest = "*"
sphinx = "==7.1.2"
twine = "*"